body{
    background-color: #2a2536;
}
@media only screen and (min-width:400px){
    header,nav,section,article,aside,footer{
        width:100%;
    }
}
p{
    font-size: 20px;
}
h2{
    color: #ffffff;
    margin: .25em auto;
    text-align: center;
    width: 90%;
    text-shadow: 5px 5px 10px
    rgba(145, 197, 121, 0.685);
}

#con, #p{
    color: aliceblue;
    font-size: 20px;
}
header,footer,article{
    width: 90%;
}
nav{
    background-color: #74a678;
    border-radius: .50em;
    text-align: center;
    margin: .50em auto;
    padding: .25em;
    width: 80%;
    text-align: left;
    
}
aside,section,header,footer,article{
    background-color:#74a678;
    border-radius: .50em;
    text-align: center;
    margin: .25em auto;
    padding: .25em;
}

aside{
    width: 24%;
    text-align: center;
    height: 200px;
}
section{
    width: 50%;
    height: 200px;
}
nav, section,aside{
    display: inline-block;
}

#cabecera,#articulo,#pie{
    background-color: #396b3d;
    text-align: center;
    width: 80%;
}
#cabecera{
    margin-top: 5%;
}
#articulo{
    min-height: 150px;
    float: center;
}
#aside{
    float: right;
    margin-right: 56px;
}

#navegador{
    float: center;
    margin-left: 120px;
}
#anuncio{
    width: 200px;
    height: 200px;
}
#git{
    
    width: 1000px;
    height: 250px;
}
a{
    color: #2a2536;
}

